* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Geneva, Verdana, sans-serif;
}

body {
  background: gray;
}

#AppCEP {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.formCEP {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  background: white;
  border-radius: 25px;
  padding: 40px;
}

.inputCEP {
  display: flex;
  flex-grow: 0.5;
  border: none;
  align-self: stretch;
  margin-bottom: 10px;
}
.inputCEP::placeholder {
  color: black;
  opacity: 50%;
  flex-direction: row;
  padding-left: 27%;
  font-size: 20px;
}

.buttonCEP {
  border-radius: 10px;
  background: rgb(172, 172, 209);
  color: white;
  font-size: 25px;
  flex-grow: 0.5;
  align-self: stretch;
}
